.element {
  background: radial-gradient(circle, #9c27b0, #ff9800);
  background: repeating-conic-gradient(#9c27b0 0 20deg, #ff9800 20deg 40deg);

  background: conic-gradient(
    from 180deg at 50% 50%,
    #ff0032 0deg,
    #fa935e 360deg
  );
}

.dot_pattern {
  --color-1: #9c27b0;
  --color-2: rgba(0, 0, 0, 0);

  background-image: radial-gradient(
    circle at 1px 1px,
    var(--color-1) 1px,
    var(--color-2) 0
  );
  background-size: 15px 15px;
}

.haha {
  font-size: 15px;
}
